body {
    background-color: #D4ECDD;
}
.heading-top {
    color: #FD6F96;
    font-size: 30px;
}
.heading-midle {
    color: #6F69AC;
    font-size: 25px;
}
.contact {
    color: #FFB344;
    font-size: 20px;
}